<%= form_for(@recipe) do |f| %>
        
  <div class="form-group">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :description, '説明' %>
    <%= f.text_area :description, size: '100x5', class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :image, '画像をアップロード' %>
    <%= f.file_field :image %>
  </div>
  
  
  
  <div class="row">
    <div class="col-xs-6">
      <h3>材料</h3>
      <div id="ingredients">
        <%= f.fields_for :ingredients do |ingredient| %>
          <%= render 'ingredient_fields', f: ingredient %>
        <% end %>
        <div class="links">
          <%= link_to_add_association '追加', f, :ingredients, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
    
    <div class="col-xs-6">
      <h3>手順</h3>
      <div id="directions">
        <%= f.fields_for :directions do |direction| %>
          <%= render 'direction_fields', f: direction %>
        <% end %>
        <div class="links">
          <%= link_to_add_association '追加', f, :directions, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
  </br>
  <%= f.submit 'レシピを作る', class: 'btn btn-primary btn-block' %>
  
  <%= render 'layouts/error_messages', model: f.object %>

<% end %>