<div class="row">
  <div class="col-xs-offset-2 col-xs-8">
    <div class="panel panel-defaut">
      <div class="panel-body">
        
        <%= form_for(@recipe) do |f| %>
        
          <div class="form-group">
            <%= f.label :title, 'タイトル' %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :description, '説明' %>
            <%= f.text_area :description, size: '100x5', class: 'form-control' %>
          </div>
          
          <%= f.submit 'レシピを作る', class: 'btn btn-primary' %>
          
          <%= render 'layouts/error_messages', model: f.object %>
        
        <% end %>
        
      </div>
    </div>
  </div>
</div>