<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <h1><%= @user.name %>：フォロー中<span class="badge"><%= @count_followings %></span></h1>
    <% if @followings.any? %>
      <ul class="media-list">
        <% @followings.each do |user| %>
          <li class="media">
            <div>
              <%= user.name %>：<%= link_to "View profile", user_path(user) %>
            </div>
          </li>
        <% end %>
      </ul>
      <%= paginate @followings %>
    <% end %>
  </div>
</div>