

<% unless logged_in? %>

<div class="text-center">
  <%= link_to 'レシピを投稿する', signup_path, class:'btn btn-primary' %>
</div>

<% end %>
</br>
<div class="text-center">
  <p>検索機能</p>

  <%= form_tag root_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "検索", :name => nil %>
    </p>
  <% end %>
</div>



</br>

<%= render 'recipes/recipes', recipes: @recipe %>

<%= paginate @recipe %>
